.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  text-transform: uppercase;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}


.btn-default {
  color: #525252;
  background-color: transparent;
  border-color: #D0D0C6;
}


.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #525252;
  background-color: #D0D0C6;
  border-color: #adadad;
}


.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}


.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}


.btn-default .badge {
  color: #fff;
  background-color: #333;
}


.btn-primary {
  color: #fff;
  background-color: #041E39;
  border-color: #0D2A44;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: rgba(4, 30, 57, 0.9);
  border-color: #204d74;
}


.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}


.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}


.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}


.btn-success {
  color: #fff;
  background-color: #6EC800;
  border-color: #4cae4c;
}


.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: rgba(110, 200, 0, 0.9);
  border-color: #398439;
}


.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}


.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}


.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}


.btn-info {
  color: #fff;
  background-color: #8EC4F8;
  border-color: #7DADDB;
}


.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: rgba(142, 196, 248, 0.9);
  border-color: #6790B8;
}


.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}


.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}


.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}


.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}


.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: rgba(240, 173, 78, 0.9);
  border-color: #d58512;
}


.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}


.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}


.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}


.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}


.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: rgba(217, 83, 79, 0.9);
  border-color: #ac2925;
}


.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}


.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}


.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}


.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}


.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}


.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}


.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}


.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0;
}


.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}


.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}


.btn-block {
  display: block;
  width: 100%;
}


.btn-block + .btn-block {
  margin-top: 5px;
}


input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}



.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}


.btn-primary.btn-outline {
  color: #525252;
}


.btn-success.btn-outline {
  color: #6EC800;
}


.btn-info.btn-outline {
  color: #5bc0de;
}


.btn-warning.btn-outline {
  color: #f0ad4e;
}


.btn-danger.btn-outline {
  color: #d9534f;
}


.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}


.alert {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
}

.alert h1, .alert h2, .alert h3, .alert h4, .alert h5 {
  margin-top: 0;
}


.alert-danger h1, .alert-danger h2, .alert-danger h3, .alert-danger h4, .alert-danger h5 {
  color: #a94442;
}


.alert-notice {
  color: #525252;
  background-color: #D0D0C6;
  border-color: transparent;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(110, 200, 0, 0.9);
  box-shadow: 0 0 1px rgba(110, 200, 0, 0.9);
  outline: 0 none;
}


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}


.form-control {
  box-shadow: none;
  border: 1px solid rgba(4, 30, 57, 0.9);
}



html, body {
  letter-spacing: 1.5px;
}


body {
  padding-top: 19px;
  padding-bottom: 20px;
}


h1, h2, h3, h4, h5 {
  color: #041E39;
}


.topic-title {
  
}


.boards {
  border-bottom: 1px solid #D0D0C6;
}


.cat {
  color: #041E39;
}


.clear {
  height: 16px;
  clear: both;
  overflow: hidden;
}



.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}


.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #D0D0C6;
}


.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}


a.list-group-item {
  color: #555;
}


a.list-group-item .list-group-item-heading {
  color: #333;
}


a.list-group-item:hover,
a.list-group-item:focus {
  color: #FFF;
  text-decoration: none;
  background-color: rgba(47, 91, 135, 0.84);
}


.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
}


.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}


.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: #777;
}


.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: rgba(47, 91, 135, 0.84);
  border-color: #337ab7;
}


.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}


.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #c7ddef;
}


.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}


a.list-group-item-success {
  color: #3c763d;
}


a.list-group-item-success .list-group-item-heading {
  color: inherit;
}


a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}


a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}


.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}


a.list-group-item-info {
  color: #31708f;
}


a.list-group-item-info .list-group-item-heading {
  color: inherit;
}


a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}


a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}


.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}


a.list-group-item-warning {
  color: #8a6d3b;
}


a.list-group-item-warning .list-group-item-heading {
  color: inherit;
}


a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}


a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}


.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}


a.list-group-item-danger {
  color: #a94442;
}


a.list-group-item-danger .list-group-item-heading {
  color: inherit;
}


a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}


a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}


.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}


.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.logo-link {
  display: block;
  width: 56px;
  margin-right:24px;
}

.page-title {
  margin-top:48px;
}


.navbar-inverse {
  background-color: #041E39;
  border-color: transparent;
}



.navbar-inverse .navbar-brand {
  color: #8EC4F8;
}


.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #5E5E5E;
}



.navbar-inverse .navbar-nav > li > a {
  color: #8EC4F8;
  text-transform: uppercase;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #6EC800;
  background-color: rgba(47, 91, 135, 0.84);
}


.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #6EC800;
  background-color: rgba(47, 91, 135, 0.84);
}


.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #6EC800;
  background-color: rgba(47, 91, 135, 0.84);
}



.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}


.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}


.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}



.navbar-inverse .navbar-toggle {
  border-color: rgba(47, 91, 135, 0.84);
}


.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(47, 91, 135, 0.84);
}


.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #8EC4F8;
}



.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
}


.navbar-toggle.active .icon-bar#bar1 {
  top: 6px;
  transform: rotate(45deg);
}


.navbar-toggle.active .icon-bar#bar2 {
  transform: rotate(-45deg);
}


.navbar-toggle.active .icon-bar#bar3 {
  background-color: transparent;
}



.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #041E39;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 4px solid rgba(47, 91, 135, 0.84);
  
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}


.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #6EC800;
}


.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #8EC4F8;
  white-space: nowrap;
  transition: all 0.3s linear;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #6EC800;
  text-decoration: none;
  background-color: rgba(47, 91, 135, 0.84);
}


.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #6EC800;
  text-decoration: none;
  background-color: rgba(47, 91, 135, 0.84);
  outline: 0;
}


.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}


.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

input.form-control {
  border-radius: 0;
}

.marquee {
  width:100%;
  /*height:380px;*/
  padding:45px;
  padding-top:95px;
  /*background: url('../img/palms.png') no-repeat bottom fixed;*/
  /*background-size: cover;*/
  color:#FFF;
  text-shadow: 0 1px 3px #000;
  font-size: 18px;
}

.marquee .btn-primary {
  background-color:rgba(4, 30, 57, 0.9);
}

.marquee h1 {
  color: #FFF;
}


@media only screen and (min-width: 480px) {
  
  .modal .modal-body {
    max-height: 320px;
    overflow-y: auto;
    border-radius: 0px;
    -moz-border-radius: 0px;
  }
}

@media only screen and (min-width: 768px) {
  
  #main-navigation {
    margin-left: 48px;
  }
}

@media only screen and (min-width: 992px) {
  
  #main-navigation {
    margin-left: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  
  #main-navigation {
    margin-left: 48px;
  }
}

@media (max-width: 767px) {
  
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #8EC4F8;
  }

  
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6EC800;
    background-color: rgba(47, 91, 135, 0.84);
  }

  
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6EC800;
    background-color: rgba(47, 91, 135, 0.84);
  }

  
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #6EC800;
  }
}

